~$*.docx
download_trials/out
download_trials/node_modules
.DS_Store
.Rproj.user
prototype/out
prototype/node_modules
*.zip
ctg-studies.json
ctg-studies-*.csv
prototype/venv
prototype/venv/*
prototype/cache
prototype/request_cache
database.db
batch_results
batch_results/*
.RData
!.empty
!*.empty